.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  /* Full viewport height */
  text-align: center;
}

.container header {
  display: flex justify-between items-center pb-4
}

.container header {
  padding: 0 !important;
}

h2, .metric-row h2 {
  text-align: left !important;
  margin-bottom: 0.5rem !important;
}

.col div,
.col div div {
  margin-bottom: 1rem;
}

.metric-row * {
  text-align: left !important;
  margin-bottom: 0 !important;
}

input {
  text-align: left !important;
}

.dashbox {
  background-color: #dbe2f9;
  border-radius: 10px;
  padding: 15px;
}
