.home-page-container {
    display: flex;
    flex-direction: column;
    margin: 200px;
    gap: 20px;
}

.search-history {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 20px;
}

.search-link {
    text-decoration: none;
}
.search-link:hover {
    background-color: #ccc;
}